body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  margin: 2rem 2rem 10rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
      155deg,
      rgb(255, 255, 255) 0%,
      rgb(128, 219, 251) 100%
    )
    fixed;
}

h1 {
  color: #005081;
}

ul {
  padding-left: 3rem;
}

ul li {
  padding-left: 1rem;
  margin: 0.2rem 0;
}

li::marker {
  color: #005081;
}

blockquote {
  border-left: solid 1rem #00a5d3;
  margin-left: 0;
  padding-left: 3rem;
  font-family: serif;
  font-size: 120%;
}

table {
  width: 100%;
  background: white;
  border-spacing: 0;
}

th,
td {
  padding: 0.5em;
}

th {
  text-align: left;
}

th {
  border-bottom: 1px solid #f7a600;
}

tr:nth-child(2n) td {
  background-color: #eee;
}

tr:hover td {
  background-color: #ddd;
}

footer {
  position: fixed;
  height: 8rem;
  bottom: 0;
  left: 0;
  background-color: #575757;
  width: 100%;
  padding: 0 2rem;
  color: white;
}

footer h2 {
  color: #f7a600;
}
